*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML,body{
    height: 100%;
    width: 100%;
}

@mixin flex-center($justify:center,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

main{
    height: 100%;
    width: 100vw;
    background: #000;
    padding: 3vw;
    nav{
        @include flex-center(space-between,center);
        height: 4vw;
        color: #fff;
        transition: all 0.3s ease-in-out;
        .logo{
            font-size: 1.5vw;
            font-weight: bold;
            font-family: proxyn;
            @include flex-center();
            img{
                height: 2.5vw;
                width: 2.5vw;
            }
        }
        .links{
            @include flex-center(space-between,center);
            font-size: 1.2vw;
            p{
                text-decoration: none;
                cursor: pointer;
                @include flex-center();
                color: #fff;
                font-weight: 100;
                border-right: 3px solid #fff;
                height: 0.2vw;
                padding: 0 2vw 0 2vw;
                border-radius: 0%;
                font-family: 'Poppins',sans-serif;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #f00;
                }
            }
            & p:last-child{
                border: none;
            }
        }
        aside{
            @include flex-center();
            gap: 1vw;
            .icon{
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 10px;
                color: #ffffff;
                transition: all 0.3s ease-in-out;
                &:hover{
                        background: #ffffff;
                        color: #000;
                    }
                i{
                    font-size: 1.5vw;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
            }
            #search {
                @include flex-center(center,center);
                gap: 0px;
                transition: all 0.3s ease-in-out;
                input{
                    width: 0vw;
                    height: 0vw;
                    padding: 0;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: #000000;
                    font-size: 1.5vw;
                    transition: all 0.3s ease-in-out;
                }
                &:hover{
                    border-radius: 20px;
                    animation-name: search-anime;
                    animation-iteration-count: 1;
                }
                &:hover input{
                    width: 10vw;
                    height: 2vw;
                    padding: 0 10px 0 10px;
                    color: #000000;
                }
            }
            #menu{
                background: #ffffff;
                color: #000;
                
            }
        }
    }
    .firstsection{
        color: #fff;
        .up{
            div{
                @include flex-center(space-between,center);
                gap: 2vw;
                
            }
            
            @include flex-center(space-between,center);
            p{
                 border: white 1px solid;
                 padding: -10px;
                 

            }
           
        }


    }
}

@keyframes search-anime {
    0%{
        width: 0vw;
        border: none;
        border-radius: 20px;
    }
    100%{
        width: 14vw;
        border: none;
        border-radius: 20px;
    }
}